[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
bs4 = "*"
gunicorn = "*"
uvicorn = "*"
asgiref = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
dev = "flask run"
prod = "gunicorn -w 4 index:asgi_app --name crawler-service --max-requests 100 --worker-class uvicorn.workers.UvicornWorker"
